.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  .intro {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .cv-links {
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #555;
  }
  
  .contact {
    margin-top: 30px;
    font-size: 16px;
  }

  .button {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #000000;
    color: #ffffff;
  }
  .button {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #000000;
    color: #ffffff;
  }